@page
@model Animal.Pages_Infos.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Info</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info.Breed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info.Breed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info.Rating)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Info.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
