@page
@model Animal.Pages_Infos.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Info</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info.Breed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info.Breed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info.Rating)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Info.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
